body {
    background-color: #eee9bd;
    font-family: 'PT Sans', sans-serif;
}

.div {
border: 3px solid black;
    color: black;
    font-size: large;
    font-weight: bold;
    width: 400px;
    height: fit-content;
    text-align: center;
    vertical-align: middle;
    
}

.item-a{
    
}